@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
 --background-image-hero: radial-gradient(circle, rgb(77 103 255 / 22%) 0%, rgba(0, 0, 0, 1) 52%);
}

@layer base {
 *,
 ::after,
 ::before,
 ::backdrop,
 ::file-selector-button {
  border-color: var(--color-gray-200, currentColor);
 }
}

.spinner {
 vertical-align: -0.15em;
 border: 0.15em solid;
 border-right-color: transparent;
}

[data-sonner-toaster][data-theme="dark"] {
 --normal-bg: rgb(22, 22, 23) !important;
 --normal-border: rgb(38, 38, 38) !important;
 --normal-text: rgb(255, 255, 255) !important;
}
